# PostgreSQL connection
PGHOST=localhost
PGPORT=5432
PGDATABASE=gioat_dev
PGUSER=gioat
PGPASSWORD=gioat_dev_pwd

# Prisma Database URL
DATABASE_URL="postgresql://gioat:gioat_dev_pwd@localhost:5432/gioat_dev"

# SnapTrade Configuration
SNAPTRADE_CLIENT_ID=GIOAT-TEST-HTZCG
SNAPTRADE_CONSUMER_KEY=7aEBAbQUTl4caNSpNrtVB57fd65I57yoxXQDNXigHZkPwIK9XF

# Security Configuration
VAULT_KEY=e8fa521a86ead1ceff92de4a2754b8d3bf4a81f8f0cba9b27d694440088cd39f

# Application Configuration
PORT=3000
NODE_ENV=development 